# IntelliJ
*.iml
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/vcs.xml
.idea/misc.xml

#
# Actual project stuff.
#
*.class
src/com/crinqle/dlroom/com
src/com/crinqle/dlroom/dlroom
samples
dlroom
